.San_Valentin {
  position: absolute;
  width: 90%;
  font-size: 2rem;
  font-family: "Te Amo", cursive;
  height: var(--letter-love);
  transform: translateX(-50%);
  background: var(--letter);
  transition: all 1s ease;
}

.arbol-corazones {
  animation: aparecer 2s forwards;
}

@keyframes aparecer {
  from { opacity: 0; transform: scale(0.5); }
  to { opacity: 1; transform: scale(1); }
}